body {
    background: #a8afba;
    font-size: 16px;
}
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#id {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

/* Track */
body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background-color: #888;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.3s;
    z-index: 999;
}
.scroll-up {
    top: -60px;
}

.left-bar-item {
    transition: all 0.15s ease-in-out;
}
.left-bar-item:hover {
    background-color: #dddddd;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

.item {
    border-radius: 10px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}
.online {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    right: 0;
    border-radius: 99999px;
    background-color: limegreen;
}

.item_postcreate:hover span {
    opacity: 1;
    visibility: visible;
    transform: translateY(0.1rem);
    z-index: 1;
}
.post_button:hover {
    background-color: #cc8000;
    transition: all ease-in-out 0.3s;
}

.method-share:hover {
    background-color: #ddd;
    border-radius: 5px;
    transition: all ease-in-out 0.2s;
    color: #000;
}
.method-share_close:hover {
    transition: all ease-in-out 0.3s;
    color: #fff;
    background-color: rgb(248, 51, 51);
}
.thin-scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.css-g3hgs1-MuiBackdrop-root-MuiModal-backdrop {
    top: 70px !important;
}
.css-dwe93k-MuiModal-root-MuiPopover-root {
    top: 70px !important;
}
.css-1i0e6f3-MuiModal-root-MuiPopover-root {
    top: 70px !important;
    z-index: 900 !important;
}
.bg-loading {
    background-color: #d1d4d5;
    border-radius: 0.25rem;
}
/* .container::-webkit-scrollbar {
    display: none;
  }
   */
.thin-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.8);
    border-radius: 999px;
}

.thin-scroll::-webkit-scrollbar-thumb:hover {
    background-color: rgba(156, 163, 175, 1);
}

.thin-scroll::-webkit-scrollbar-track {
    background-color: rgba(209, 213, 219, 0.5);
    border-radius: 999px;
}

.thin-scroll {
    scrollbar-width: thin;
}

.thin-scroll::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

/* Thiết lập màu nền cho thanh cuộn */
.thin-scroll::-webkit-scrollbar-track {
    background-color: #eee;
}

.fadeDown {
    animation: fadeDown 0.3s ease-in-out;
}

@keyframes fadeDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.border_bottom {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(
        0.25turn,
        rgb(255 255 255 / 40%),
        rgb(99 99 99 / 60%),
        rgb(255 255 255 / 0%)
    );
    border-image-slice: 1;
}
.border_top {
    border-top: 1px solid transparent;
    border-image: linear-gradient(
        0.25turn,
        rgb(255 255 255 / 40%),
        rgb(99 99 99 / 60%),
        rgb(255 255 255 / 0%)
    );
    border-image-slice: 1;
}

.cover_image {
    background-image: url(https://pety.vn/static/media/cover.98ab1b0a.webp);
    height: 220px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
}
.slick-comment {
    display: flex !important;
    /* height: 100% !important; */
}
.slick-prev {
    left: 15px !important;
    z-index: 30 !important;
}
.slick-next {
    right: 15px !important;
}
.slick-dots li button:before {
    color: #fff !important;
}
.slick-dots {
    bottom: 0px !important;
}
.slick-list {
    height: 100% !important;
}
.slick-slide {
    height: 100% !important;
}
.slick-slide > div {
    height: 100% !important;
}
.slick-track {
    height: 100% !important;
}
.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 150ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms ease-out;
}
.scroll-div {
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.scroll-div::-webkit-scrollbar {
    width: 4px; /* Độ rộng của thanh cuộn */
    background-color: #f5f5f5; /* Màu nền của thanh cuộn */
}

/* Thiết lập màu thanh cuộn */
.scroll-div::-webkit-scrollbar-thumb {
    background-color: #888; /* Màu của thanh cuộn */
    border-radius: 4px; /* Đường viền cong của thanh cuộn */
}
.ql-toolbar.ql-snow {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.css-sxh3gq-MuiAvatar-root-MuiAvatarGroup-avatar {
    width: 22px;
    height: 22px;
    font-size: 12px !important;
}
.css-1ytufz-MuiAvatarGroup-root .MuiAvatar-root {
    margin-left: -5px !important;
}

/* Thiết lập màu khi hover lên thanh cuộn */
.scroll-div::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Màu của thanh cuộn khi hover */
}

/* Thiết lập màu khi thanh cuộn được nhấp chuột vào */
.scroll-div::-webkit-scrollbar-thumb:active {
    background-color: #333; /* Màu của thanh cuộn khi nhấp chuột */
}
.select-none {
    user-select: none;
}

.upload_avatar {
    transform: translateY(200%);
}

.fadeUp {
    animation: fadeUp ease-in-out 0.3s;
    transform: translateY(50%);
}
@keyframes fadeUp {
    from {
        transform: translateY(200%);
    }
    to {
        transform: translateY(50%);
    }
}
.item-kind:hover {
    background-color: #f1f1f1;
    transition: all ease-in-out 0.3s;
}

.title {
    padding: 0.8rem 1rem;
    z-index: 99;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(
        0.25turn,
        rgba(72, 234, 48, 0.4),
        rgb(15, 77, 17, 0.6),
        rgba(72, 234, 48, 0)
    );
    border-image-slice: 1;
    width: 100%;
}
.title::before {
    content: "";
    position: absolute;
    left: -6px;
    top: 17px;
    width: 30px;
    height: 30px;

    background: -moz-linear-gradient(
        -45deg,
        rgba(22, 74, 15, 0.6) 0%,
        rgba(120, 204, 109, 0.01) 100%
    );
    background: -webkit-linear-gradient(
        -45deg,
        rgba(22, 74, 15, 0.6) 0%,
        rgba(120, 204, 109, 0.01) 100%
    );
    background: linear-gradient(
        135deg,
        rgba(22, 74, 15, 0.6) 0%,
        rgba(120, 204, 109, 0.01) 100%
    );
    z-index: 51;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
}

.weather-widget {
    background-image: url("https://wpkixx.com/html/pitnik/images/resources/weather.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 300px;
    text-align: center;
    width: 100%;
    z-index: 0;
    background-size: cover;
    position: relative;
}
.weather-widget canvas {
    display: inline-block;
    margin-top: 70px;
}
.rain:after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 1.125em;
    height: 1.125em;
    margin: -1em 0 0 -0.25em;
    background: #0cf;
    border-radius: 100% 0 60% 50%/60% 0 100% 50%;
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
        -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
        -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
    transform: rotate(-28deg);
    animation: rain 3s linear infinite;
}
.weather-widget::after {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.refresh-content > i {
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    z-index: 1;
}
.refresh-content {
    display: inline-block;
    padding-right: 10px;
    padding-top: 7px;
    text-align: right;
    width: 100%;
}
.weather-infos {
    float: left;
    padding: 0 40px;
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 2;
}
.weather-tem {
    color: #ffffff;
    float: left;
    font-size: 31px;
    margin-right: 33px;
    margin-top: 20px;
    position: relative;
}
.rays {
    position: absolute;
    top: -2em;
    left: 50%;
    display: block;
    width: 0.375em;
    height: 1.125em;
    margin-left: -0.1875em;
    background: #fff;
    border-radius: 0.25em;
    box-shadow: 0 5.375em #fff;
}
.rays:after,
.rays:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0.375em;
    height: 1.125em;
    transform: rotate(60deg);
    transform-origin: 50% 3.25em;
    background: #fff;
    border-radius: 0.25em;
    box-shadow: 0 5.375em #fff;
}
.rays:before {
    transform: rotate(120deg);
}

/* .rays::after {
    transform: rotate(120deg);
} */
.low-opacity:before {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    -ms-opacity: 0.5;
    -o-opacity: 0.5;
    opacity: 0.5;
}

.blackish:before,
.whitish:before,
.bluesh:before,
.purple:before,
.pattern:before,
.orange:before,
.mate-black:before,
.pinkish:before {
    background: #23d2e2;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.cloud:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -0.5em;
    display: block;
    width: 4.5625em;
    height: 1em;
    background: 0 0;
}
.cloud {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 3.6875em;
    height: 3.6875em;
    margin: -1.84375em;
    background: #fff;
    border-radius: 50%;
    box-shadow: -2.1875em 0.6875em 0 -2.6875em, 2.0625em 0.9375em 0 -1.9375em,
        0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff,
        2.0625em 0.9375em 0 -0.5625em #fff;
}
.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.5em;
    height: 2.5em;
    margin: -1.25em;
    background: 0 0;
    border-radius: 50%;
    box-shadow: 0 0 0 0.375em #fff;
    animation: spin 12s infinite linear;
}
.cloud + .sun {
    margin: -2em 1em;
}

.weather-tem::before {
    border: 2px solid #fff;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

    content: "";
    height: 10px;
    position: absolute;
    right: -10px;
    top: 3px;
    width: 10px;
}
.weather-infos > h3 {
    color: #ffffff;
    float: left;
    font-size: 20px;
    margin: 0;
}
.weather-infos > h3 > i {
    display: table;
    font-size: 13px;
    font-style: normal;
    margin-top: 6px;
}
.weather-date {
    height: 60px;
    position: absolute;
    right: 0;
    width: 60px;
}
.weather-date > span {
    border-radius: 10px 0 0 10px;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 14px;
    line-height: initial;
    padding: 14px;
    text-align: center;
    width: 100%;
}
.weather-date > span > strong {
    float: left;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 13px;
    margin-top: 3px;
    width: 100%;
}
.weather-week {
    display: inline-block;
    position: relative;
    width: 100%;
    z-index: 2;
}
.postoverlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    display: none;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes cloud {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
        transform: scale(0.5) translate(-200%, -3em);
    }
}

@keyframes rain {
    0% {
        background: #0cf;
        box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
            -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
            -1.375em -0.125em 0 #0cf;
    }

    25% {
        box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
            -0.875em 1.125em 0 -0.125em #0cf,
            -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
    }

    50% {
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0.625em 0.875em 0 -0.125em #0cf,
            -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
            -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
    }

    100% {
        box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
            -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
            -1.375em -0.125em 0 #0cf;
    }
}

@keyframes lightning {
    45% {
        color: #fff;
        background: #fff;
        opacity: 0.2;
    }

    50% {
        color: #0cf;
        background: #0cf;
        opacity: 1;
    }

    55% {
        color: #fff;
        background: #fff;
        opacity: 0.2;
    }
}

.postbox {
    z-index: 99;
    position: relative;
}

.text-nowrap {
    overflow: "hidden";
    white-space: "nowrap";
    text-overflow: "ellipsis";
}
.popup_image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 1600px;
    height: 100vh;
    max-height: 800px;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* overflow: hidden; */
    transition: all 0.5s ease-in-out;
    opacity: 1;
    /* visibility: hidden; */
}
.layout_image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 1600px;
    height: 100vh;
    max-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 80;
}

.link-Comment a {
    color: rgb(21, 74, 232);
    text-decoration: underline rgb(21, 74, 232);
}

.boxchat a {
    color: rgb(21, 74, 232);
    text-decoration: underline rgb(21, 74, 232);
}
.boxchatself a {
    color: #ccc;
    text-decoration: underline #fff;
}

.wrapper {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 5% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill 0.4s ease-in-out 0.4s forwards,
        scale 0.3s ease-in-out 0.9s both;
}
.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale {
    0%,
    100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}
@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
}

.notiPage p:first-child {
    font-size: 24px;
    font-weight: 600;
    padding: 20px;
    text-decoration: underline;
}
